# ðŸ§  PopConn Tutorial: Group Comparison

This notebook demonstrates how to use the `GroupComparator` class to statistically compare population-level covariance matrices between two groups using permutation testing.

In [1]:
import pandas as pd
from popconn.stats.comparator import GroupComparator
from popconn.stats.metrics import correlation_matrix_difference

## ðŸ“„ Simulate Long-Format Dataset with Group Labels

In [2]:
df_long = pd.DataFrame({
    'subject_id': ['s1']*3 + ['s2']*3 + ['s3']*3 + ['s4']*3 + ['s5']*3 + ['s6']*3,
    'region': ['A', 'B', 'C'] * 6,
    'value': [1, 2, 3, 1.2, 2.1, 2.9, 0.8, 1.9, 2.7, 1.1, 1.8, 3.1, 1.3, 2.3, 2.8, 1.0, 2.0, 3.0],
    'group': ['young']*9 + ['old']*9
})
df_long.head()

  subject_id region  value  group
0         s1      A    1.0  young
1         s1      B    2.0  young
2         s1      C    3.0  young
3         s2      A    1.2  young
4         s2      B    2.1  young

## ðŸ§ª Compare Groups Using GroupComparator

In [3]:
comparator = GroupComparator(
    data=df_long,
    group_col='group',
    long_format=True,
    subject_col='subject_id',
    region_col='region',
    value_col='value'
)
results = comparator.run_permutation_test(
    stat_func=correlation_matrix_difference,
    n_permutations=100,
    return_distribution=True
)
results['observed']

region         A         B         C
region
A       0.000000  0.262957  1.440368
B       0.262957  0.000000  1.651830
C       1.440368  1.651830  0.000000