# ðŸ§  PopConn: CovConn Class Tutorial

This notebook demonstrates how to use the `CovConn` class for computing population-level covariance connectomes and comparing between groups.

In [1]:
import pandas as pd
from popconn.core import CovConn

## ðŸ“„ Simulate Long-Format Data

In [6]:
df_long = pd.DataFrame({
    'subject_id': ['s1']*3 + ['s2']*3 + ['s3']*3 + ['s4']*3 + ['s5']*3 + ['s6']*3,
    'region': ['A', 'B', 'C'] * 6,
    'value': [1, 2, 3, 1.2, 2.1, 2.9, 0.8, 1.9, 2.7, 1.1, 1.8, 3.1, 1.3, 2.3, 2.8, 1.0, 2.0, 3.0],
    'group': ['young']*9 + ['old']*9
})
df_long.head()

  subject_id region  value  group
0         s1      A    1.0  young
1         s1      B    2.0  young
2         s1      C    3.0  young
3         s2      A    1.2  young
4         s2      B    2.1  young

## ðŸ§  Create a CovConn Object and Compute Covariance

In [ ]:
conn = CovConn(
    data=df_long,
    long_format=True,
    subject_col='subject_id',
    region_col='region',
    value_col='value'
)
cov_matrix = conn.compute_covariance(method='pearson')
cov_matrix

region         A         B         C
region
A       1.000000  0.685177  0.181041
B       0.685177  1.000000 -0.407577
C       0.181041 -0.407577  1.000000

: